.center{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
div {
  position: absolute;
  width: 70%;
  height: 300px;
  top: 50%;
  left: 25%;
  margin-right: auto;
  margin-left: auto;
  margin: -100px 0 0 -150px;
  font-family: brandon;
}
h1 {
  text-align: center;
  font-size: 35px;
}
p {
  text-align: right;
  font-size: 40px;
}
