<div class="container" ng-controller="QuoteCtrl as quote">
  <div class="jumbotron">
    <h1 align="center">Quote Application</h1>
    <br>
    <div id="quote-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">

      </div>
    </div>
  </div>
  <div id="quote-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="checkbox" ng-repeat="singleQuote in quotes">
        <label>
          <input type="checkbox" ng-click="quote.removeQuote(singleQuote)">
          {{singleQuote.value}}
        </label>
      </div>
    </div>
  </div>

</div>
