<div>
	<form action="/quotes" method="post">
		Quote: <textarea name="quote" cols="50" rows="5" type="text"></textarea>
	</br>Writter: <input type="text" name="writter" value="">
	</br>Language: <input type="text" name="language">
		<input type="submit" value="Add Quote">
	</form>
</div>
