<div class="center" ng-controller="QuoteCtrl as quote">
  <h1>Add Quote</h1>
  <p> quote: {{quote.formData}}</p>
  <form name="" ng-submit="quote.addQuote()" novalidate>
    Quote: <textarea ng-modle="quote.formData.content" cols="50" rows="5" type="text"></textarea>
  </br>
  {{quote.formData.writter}}
    Writter: <input ng-modle="quote.formData.writter" type="text">
  </br>
    Language: <input ng-modle="quote.formData.language" type="text">
    <!-- <select ng-repeat="l in languages" ng-modle="formData.language">
      <option value="{{l}}">{{l}}
    </select> -->
  </br>
  <input type="submit" value="Add quote"/>
  </form>
</div>
